{% load static %}
<!DOCTYPE html>
<html>

<head>
    
      <link rel="stylesheet" href="{% static 'css/emploi.css' %}">

</head>
<body>
<header>
  <h2> {{ user.username }} </h2>
  <nav>
  {% if user.is_superuser %}
  
   
 
   
 <a href="{% url 'creer' %}"> new timetable </a>
 <a href="{% url 'gestions' %}"> users gestion</a>
 <a href="{% url 'account_requests' %}"> validation de compte </a>
 {% endif %}
 <a href="{% url 'consultation' %}"> dashboard </a>
 <a href="{% url 'logout' %}"> deconnexion </a>
 
 
 
</nav>
</header>
<main>

 
<section>

  <form method="POST" action="{% url 'consultation' %}">
      {% csrf_token %}
      <div class="emp1">
        <label for="filiere">Filière :</label>
        <select id="filiere" name="filiere">
          <option value="">Toutes les filières</option>
          {% for filiere in filieres %}
          <option value="{{ filiere }}">{{ filiere|capfirst }}</option>
          {% endfor %}
          <!-- Ajoutez d'autres options pour chaque filière -->
        </select>
        <button type="submit">Filtrer</button>
      </form>
    </div>
  

<!-- consultation.html -->
{% for emploi in emplois %}
<aside class="actions">
  {% if user.is_superuser %}
  <div>

    <a class="btn" href="{% url 'modification' pk=emploi.id %}">
      modifier
    </a>


  </div>
  {% endif %}<br><br>
  </aside>
  <time> publié le: {{emploi.published_date}} </time>

  <p> {{emploi.emploi_data.description}} </p>
  <table>
    <thead>
      <tr>
        <th> {{emploi.emploi_data.filiere}} </th>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ligne pour chaque heure -->
      <tr>
        <td>7h - 8h</td>
        <td>{{ emploi.emploi_data.l_7_8 }}</td>
        <td>{{ emploi.emploi_data.m_7_8 }}</td>
        <td>{{ emploi.emploi_data.me_7_8 }}</td>
        <td>{{ emploi.emploi_data.j_7_8 }}</td>
        <td>{{ emploi.emploi_data.v_7_8 }}</td>
        <td>{{ emploi.emploi_data.s_7_8 }}</td>
      </tr>
      <!-- Répétez les lignes ci-dessus pour chaque heure -->
      <tr>
        <td>8h - 9h</td>
        <td>{{ emploi.emploi_data.l_8_9 }}</td>
        <td>{{ emploi.emploi_data.m_8_9 }}</td>
        <td>{{ emploi.emploi_data.me_8_9 }}</td>
        <td>{{ emploi.emploi_data.j_8_9 }}</td>
        <td>{{ emploi.emploi_data.v_8_9 }}</td>
        <td>{{ emploi.emploi_data.s_8_9 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>9h - 10h</td>
        <td>{{ emploi.emploi_data.l_9_10 }}</td>
        <td>{{ emploi.emploi_data.m_9_10 }}</td>
        <td>{{ emploi.emploi_data.me_9_10 }}</td>
        <td>{{ emploi.emploi_data.j_9_10 }}</td>
        <td>{{ emploi.emploi_data.v_9_10 }}</td>
        <td>{{ emploi.emploi_data.s_9_10 }}</td>
      </tr>
      <!-- Répétez les lignes ci-dessus pour chaque heure -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>10h - 11h</td>
        <td>{{ emploi.emploi_data.l_10_11 }}</td>
        <td>{{ emploi.emploi_data.m_10_11 }}</td>
        <td>{{ emploi.emploi_data.me_10_11 }}</td>
        <td>{{ emploi.emploi_data.j_10_11 }}</td>
        <td>{{ emploi.emploi_data.v_10_11 }}</td>
        <td>{{ emploi.emploi_data.s_10_11 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>11h - 12h</td>
        <td>{{ emploi.emploi_data.l_11_12 }}</td>
        <td>{{ emploi.emploi_data.m_11_12 }}</td>
        <td>{{ emploi.emploi_data.me_11_12 }}</td>
        <td>{{ emploi.emploi_data.j_11_12 }}</td>
        <td>{{ emploi.emploi_data.v_11_12 }}</td>
        <td>{{ emploi.emploi_data.s_11_12 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>12h - 13h</td>
        <td>{{ emploi.emploi_data.l_12_13 }}</td>
        <td>{{ emploi.emploi_data.m_12_13 }}</td>
        <td>{{ emploi.emploi_data.me_12_13 }}</td>
        <td>{{ emploi.emploi_data.j_12_13 }}</td>
        <td>{{ emploi.emploi_data.v_12_13 }}</td>
        <td>{{ emploi.emploi_data.s_12_13 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>13h - 14h</td>
        <td>{{ emploi.emploi_data.l_13_14 }}</td>
        <td>{{ emploi.emploi_data.m_13_14 }}</td>
        <td>{{ emploi.emploi_data.me_13_14 }}</td>
        <td>{{ emploi.emploi_data.j_13_14 }}</td>
        <td>{{ emploi.emploi_data.v_13_14 }}</td>
        <td>{{ emploi.emploi_data.s_13_14 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>14h - 15h</td>
        <td>{{ emploi.emploi_data.l_14_15 }}</td>
        <td>{{ emploi.emploi_data.m_14_15 }}</td>
        <td>{{ emploi.emploi_data.me_14_15 }}</td>
        <td>{{ emploi.emploi_data.j_14_15 }}</td>
        <td>{{ emploi.emploi_data.v_14_15 }}</td>
        <td>{{ emploi.emploi_data.s_14_15 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>15h - 16h</td>
        <td>{{ emploi.emploi_data.l_15_16 }}</td>
        <td>{{ emploi.emploi_data.m_15_16 }}</td>
        <td>{{ emploi.emploi_data.me_15_16 }}</td>
        <td>{{ emploi.emploi_data.j_15_16 }}</td>
        <td>{{ emploi.emploi_data.v_15_16 }}</td>
        <td>{{ emploi.emploi_data.s_15_16 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>16h - 17h</td>
        <td>{{ emploi.emploi_data.l_16_17 }}</td>
        <td>{{ emploi.emploi_data.m_16_17 }}</td>
        <td>{{ emploi.emploi_data.me_16_17 }}</td>
        <td>{{ emploi.emploi_data.j_16_17 }}</td>
        <td>{{ emploi.emploi_data.v_16_17 }}</td>
        <td>{{ emploi.emploi_data.s_16_17 }}</td>
      </tr>
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <!-- Continuez avec les autres heures jusqu'à 19h -->
      <tr>
        <td>17h - 18h</td>
        <td>{{ emploi.emploi_data.l_17_18 }}</td>
        <td>{{ emploi.emploi_data.m_17_18 }}</td>
        <td>{{ emploi.emploi_data.me_17_18 }}</td>
        <td>{{ emploi.emploi_data.j_17_18 }}</td>
        <td>{{ emploi.emploi_data.v_17_18 }}</td>
        <td>{{ emploi.emploi_data.s_17_18 }}</td>
      </tr>
     
      <tr>
        <td>18h - 19h</td>
        <td>{{ emploi.emploi_data.l_18_19 }}</td>
        <td>{{ emploi.emploi_data.m_18_19 }}</td>
        <td>{{ emploi.emploi_data.me_18_19 }}</td>
        <td>{{ emploi.emploi_data.j_18_19 }}</td>
        <td>{{ emploi.emploi_data.v_18_19 }}</td>
        <td>{{ emploi.emploi_data.s_18_19 }}</td>
      </tr>
    </tbody>
  </table><br>

{% endfor %}  

</section>




</main>


</body>

</html>