{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'info.css'%}">
    <title>Informations/Student</title>
</head>
<body>
    
    <div class="form-container">
        <p class="title">Change password</p>
        <form method="post" action="/change_password/" class="form">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="number" placeholder="" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="" required>
            </div>         
            <div class="input-group">
                <label for="repassword">Repassword</label>
                <input type="password" name="repassword" id="password" placeholder="" required>
            </div>
            <button type="submit" class="sign">Valider</button>
        </form>
        
    </div>
</body>
</html>