{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'info.css'%}">
    <title>Informations/Student</title>
</head>
<body>
    
    <div class="form-container">
        <p class="title">Email</p>
        <form method="post" action="/email/" class="form">
            {% csrf_token %}
            <div class="input-group">
                <label for="email">email</label>
                <input type="text" name="email" id="text" placeholder="" required>
            </div>
            <button type="submit" class="sign">Valider</button>
        </form>
        
    </div>
</body>
</html>