<!DOCTYPE html>

<html>

<head>
<style>
    main {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centrer le contenu horizontalement */
}

h3 {
  text-align: center;
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
}
</style>


</head>


<body>
<main>

    <h3> Demande effectuer avec succes Consulter votre boite email pour initialiser votre mot de passe </h3>

     <a href="{% url 'login' %}" > Retour a la page de connexion </a>
</main>




</body>

</html>